@import 'partials/vars'

*
  box-sizing: border-box

#main
  min-height: 100vh
  min-width: 100vw

.panel
  font-family: "Comic Sans MS"
  text-align: center
  font-size: 8vmin
  background-color: color_bg

table
  width: 60vmin
  height: 60vmin
  margin: 10vh auto

  tr
    background-color: color_bg !important


.p1
  transition: background-color 0.8s ease
  background-color: color_p1
  color: color_bg

.p2
  transition: background-color 0.8s ease
  background-color: color_p2
  color: color_bg