@import 'partials/vars'

*
  box-sizing: border-box
  transition: background-color 0.8s ease

#main
  min-height: 100vh
  min-width: 100vw

.panel
  font-family: "Comic Sans MS"
  text-align: center
  font-size: 3vmin
  background-color: color_bg

table
  width: 25vmin
  height: 25vmin
  margin: 1vmin auto

  tr
    background-color: color_bg !important

  &.win1
    border: solid color_p1

  &.win2
    border: solid color_p2

.p1
  background-color: color_p1
  color: color_bg

.p2
  background-color: color_p2
  color: color_bg

.link
  pre
    font-size: 5vmin

.subboard
  -webkit-transition: all 0.8s ease

.playable
  -webkit-transform: scale(1)

.unplayable
  -webkit-transform: scale(0.8)