@import 'partials/vars'

*
  box-sizing: border-box
  -webkit-transition: all 0.8s ease
  -moz-transition: all 0.8s ease
  -o-transition: all 0.8s ease
  transition: all 0.8s ease

#main
  min-height: 100vh
  min-width: 100vw

table
  width: 25vmin
  height: 25vmin
  margin: 1.5vh auto

  tr
    background-color: color_bg !important

  &.win1
    border: solid color_p1

  &.win2
    border: solid color_p2

.p1
  background-color: color_p1
  color: color_bg

.p2
  background-color: color_p2
  color: color_bg

.playable
  -webkit-transform: scale(1)
  -moz-transform: scale(1)

.unplayable
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  opacity: 0.5

.statusbar
  max-width: 100%
  background-color: color_status_bg
  text-align: center

  p
    color: color_status_font
    font-family: font_primary
    font-size: 5vmin
    font-weight: 800

  input
    font-size: 3vmin
    font-family: font_secondary
    text-align: center
    margin: 5vmin auto
    width: 30vw

// Splash page

.splash
  padding: 20vh

  table
    -webkit-transform: scale(1.5)
    -moz-transform: scale(1.5)

  tr:nth-child(3) td:nth-child(2)
    -webkit-animation-duration: 1s
    -webkit-animation-name: fadein
    -webkit-animation-fill-mode: forwards
    -moz-animation-duration: 1s
    -moz-animation-name: fadein
    -moz-animation-fill-mode: forwards

  tr:nth-child(2) td:nth-child(2)
    -webkit-animation-delay: 0.5s
    -webkit-animation-duration: 1s
    -webkit-animation-name: fadein
    -webkit-animation-fill-mode: forwards
    -moz-animation-delay: 0.5s
    -moz-animation-duration: 1s
    -moz-animation-name: fadein
    -moz-animation-fill-mode: forwards

  tr:first-child td:nth-child(2)
    -webkit-animation-delay: 1s
    -webkit-animation-duration: 1s
    -webkit-animation-name: fadein
    -webkit-animation-fill-mode: forwards
    -moz-animation-delay: 1s
    -moz-animation-duration: 1s
    -moz-animation-name: fadein
    -moz-animation-fill-mode: forwards

  tr:first-child td:nth-child(odd)
    -webkit-animation-delay: 1.3s
    -webkit-animation-duration: 1s
    -webkit-animation-name: fadein
    -webkit-animation-fill-mode: forwards
    -moz-animation-delay: 1.3s
    -moz-animation-duration: 1s
    -moz-animation-name: fadein
    -moz-animation-fill-mode: forwards

@keyframes fadein
  from
    background-color: color_bg
    -webkit-transform: scale(0.5)
    -moz-transform: scale(0.5)
  to
    background-color: color_status_bg

button, .button
  background-color: color_button
  font-family: font_primary

  &:hover
    background-color: color_button_hover

// ng-view animate

.view-enter, .view-leave
  -webkit-transition: all 3s ease
  -moz-transition: all 3s ease
  -o-transition: all 3s ease
  transition: all 3s ease

.view-enter
  opacity: 0

.view-enter.view-enter-active
  opacity: 1

// How to play

.howto
  .panel
    min-height: 100vh
    background-color: white
    p
      color: color_status_bg

  li
    list-style-type: cjk-ideographic
    text-align: left
    color: color_status_bg
    font-family: font_secondary
    font-size: 18px
    font-weight: 100

  button
    margin: 25px auto