// Colors
color_bg = #F4F5F0
color_p1 = #3CB5B5
color_p2 = #E53B51
color_status_font = #FFFFFF
color_status_bg = #EC6C20
color_button = #3CB5B5
color_button_hover = #E53B51

// Fonts
font_primary = "Galindo", sans-serif
font_secondary = "Fauna One", serif