// Colors
color_bg = #F4F5F0
color_p1 = #E01B8E
color_p2 = #8350EB
color_status_font = #505050
color_status_bg = #CDFFFD
color_button = #0355E7
color_button_hover = #12CF21

// Fonts
font_status = "Verdana"