.subboard(ng-class="{'playable': playable(), 'unplayable':!playable()}")
  table(ng-class="{1: 'win1', 2: 'win2'}[subgame.winner]")
    tbody
      tr
        td(ng-repeat="square in [0,1,2]", ng-class="{1: 'p1', 2: 'p2', 0: 'empty'}[subgame.board[square]]", ng-click="move(square)")&nbsp;
      tr
        td(ng-repeat="square in [3,4,5]", ng-class="{1: 'p1', 2: 'p2', 0: 'empty'}[subgame.board[square]]", ng-click="move(square)")&nbsp;
      tr
        td(ng-repeat="square in [6,7,8]", ng-class="{1: 'p1', 2: 'p2', 0: 'empty'}[subgame.board[square]]", ng-click="move(square)")&nbsp;