.howto
  .row.statusbar.panel
    .small-centered.large-centered.large-8.columns
      p Rules:
      ul
        li The game consists of 9 Tic-Tac-Toe boards. The goal is to get three boards in a row.
        li First player to get three-in-a-row on a board, owns the board forever
        li Your move decides the board your opponent gets to move in next. For example, when you make a move to claim the center square (on any given board), your opponent's next move must be on the center board
        li When you get sent to a board that is already full, you get to go anywhere
        li When a board ends up in a tie, the board belongs to nobody
        li Happy Tic-Tac-Toeing!
      button.large(ng-click="homepage()") Understood!