.game(ng-show="has_started()")
  .row.statusbar.panel
    p {{game.status}}

  //- Ultimate boards ---------
  .row
    .large-4.small-4.columns
      ttt(subgame="game.board0", bid="0", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board1", bid="1", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board2", bid="2", game="game")

  .row
    .large-4.small-4.columns
      ttt(subgame="game.board3", bid="3", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board4", bid="4", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board5", bid="5", game="game")

  .row
    .large-4.small-4.columns
      ttt(subgame="game.board6", bid="6", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board7", bid="7", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board8", bid="8", game="game")

  // --------------------
  .row
    .large-10.columns.large-centered
      button(ng-show="game.winner > 0 || game.tie", ng-click='rematch()') Rematch!

.link(ng-show="!has_started()")
  .row
    .large-8.columns.large-centered.panel
      p Send this link to your friend
      pre {{gameURL}}