.game(ng-show="has_started()")
  .row
    .large-10.columns.large-centered
      .panel(ng-show="game.winner > 0", ng-class="{1: 'p1', 2: 'p2'}[game.winner]") Player {{game.winner}} wins!
      .panel(ng-show="game.tie") TIE!
      .panel(ng-show="!game.winner && !game.tie && !your_turn()") Your opponent is thinking...
      .panel(ng-show="!game.winner && !game.tie && your_turn()") Your turn!

  //- Ultimate boards ---------
  .row
    .large-4.small-4.columns
      ttt(subgame="game.board0", turn="game.turn", bid="0", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board1", turn="game.turn", bid="1", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board2", turn="game.turn", bid="2", bturn="game.board_turn", game="game")

  .row
    .large-4.small-4.columns
      ttt(subgame="game.board3", turn="game.turn", bid="3", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board4", turn="game.turn", bid="4", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board5", turn="game.turn", bid="5", bturn="game.board_turn", game="game")

  .row
    .large-4.small-4.columns
      ttt(subgame="game.board6", turn="game.turn", bid="6", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board7", turn="game.turn", bid="7", bturn="game.board_turn", game="game")
    .large-4.small-4.columns
      ttt(subgame="game.board8", turn="game.turn", bid="8", bturn="game.board_turn", game="game")

  // --------------------
  .row
    .large-10.columns.large-centered
      button(ng-show="game.winner > 0 || game.tie", ng-click='rematch()') Rematch!

.link(ng-show="!has_started()")
  .row
    .large-8.columns.large-centered.panel
      p Send this link to your friend
      pre {{gameURL}}