.row
  .large-8.columns.large-centered
    button.large.expand(ng-click="newOnlineGame()") Online Game
    button.large.expand(ng-click="local()") Local Game
    button.large.expand(ng-click="help()") How to play