.splash
  ttt
.row
  .large-3.small-12.columns
    button.large.expand(ng-click="randomMatch()") Online Game
  .large-3.small-12.columns
    button.large.expand(ng-click="newOnlineGame()") Play a Friend
  .large-3.small-12.columns
    button.large.expand(ng-click="newLocalGame()") Local Game
  .large-3.small-12.columns
    a.button.large.expand(ng-click="howToPlay()") How to Play

// Github Ribbon
a(href="https://github.com/mck-/T3")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")