.row
  .large-8.columns.large-centered
    button.large.expand(ng-click="online()") Online Game

.row
  .large-8.columns.large-centered
    button.large.expand(ng-click="local()") Local Game

.row
  .large-8.columns.large-centered
    button.large.expand(ng-click="help()") How to play