.splash
  ttt
.row
  .large-4.small-12.columns
    button.large.expand(ng-click="newOnlineGame()") Online Game
  .large-4.small-12.columns
    button.large.expand(ng-click="newLocalGame()") Local Game
  .large-4.small-12.columns
    button.large.expand(ng-click="help()") How to play