.splash
  ttt
.row
  .large-4.small-12.columns
    button.large.expand(ng-click="newOnlineGame()") Online Game
  .large-4.small-12.columns
    button.large.expand(ng-click="newLocalGame()") Local Game
  .large-4.small-12.columns
    a.button.large.expand(href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/") How to play